extends layout.pug 

block content
    div.home
        div.container
            h1.display-4.intro.font-italic Welcome To The Editor Platform, Where You Will Write And Thrive!
            a(href="/create", class="btn btn-success btn-lg create-btn pr-5 pl-5 mr-5") Create Post
            a(href="/blogs", class="btn btn-info btn-lg create-btn") Read Posts
        
        p.font-italic.info This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
